.group  p{
	padding:15px;
	font-size: 20px;
	font-weight: bold;
	color: #0412C1;
}
textarea:focus{
	/* color: #fff;
	background-color: #4CD9EF;
	font-size: 15px; */
}
input[type=radio]{
	display: none;
}
input[type=radio]:checked + label{
	background-color: #10B32B;
	padding:5px;
	font-weight: bold;
}
textarea{
	width:500px;
	height:200px;
	border-radius: 5px;
	box-shadow: 5px 2px 12px #000;

}